.left-section {
  margin-left: 7vw;
  margin-right: 7vw;
}

.right-section {
  margin-right: 7vw;
  min-width: 30vw;
  display: flex;
  justify-content: space-between;
}

.header-button {
  height: 55px;
  margin-left: 5px;
  min-width: 50px;
  align-content: center;
}

.header-button:hover {
  cursor: pointer;
}

.background {
  display: flex;
  justify-content: center;

  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.background img {
  width: 100%;
  object-fit: contain;
}

.title-box {
  width: 41%;
  font-size: 32px;
  color: white;
  position: absolute;
  top: 15%;
  left: 7vw;
  z-index: 2;
}

.title-head {
  font-family: Arial Black;
  font-weight: 500;
  font-size: 9.8vw;
}

.title-text {
  font-size: 2vw;
}

.title-box button {
  margin-top: 20%;
  font-size: 2vw;
  font-weight: 600;
  background-color: #cbf3f0;
  color: black;
  border: none;
  width: 20vw;
  height: 5vw;
}